$primary-color:#0866ff;
$lite-color:#1f75ff;
$but2-color:#36a420;
$but2-litecolor:#089b08;
$com-color:#808080;
$body-color:#0303030d;
$but-color:#034abd;
$nextbg-color:#f5f6f7;
$nextbr-color:#ccd0d5;
$line-color:#dadde1;
$mobile: 1000px;